<div class="feed-item-container">
  <!-- Item Headers -->
  <div class="feed-item-headers">
    <img src="<%= cl_image_path feed_item.organization.avatar.key, height: 1000, width: 1000, crop: :fill %>"
      alt="organization avatar" class="avatar-square">

    <div style="margin-left: 10px">
      <h6><%= feed_item.organization.name %></h6>
      <p><%= time_ago_in_words(feed_item.created_at) %></p>
    </div>
  </div>

  <!-- The content displayed will depend if the item is a Post or an Event -->
  <!-- If the item is a Post... -->
  <% if feed_item.is_a? Post %>
    <!-- Post Content -->
    <div class="feed-item-content">
      <p><%= feed_item.description %></p>
    </div>

    <!-- A Post can have multiple images -->
    <!-- If it has one image then just display it -->
    <% if feed_item.images.size == 1 %>
      <img src="<%= cl_image_path feed_item.images.first.key %>" alt="post image"
        class="d-block w-100" style="margin-bottom: -1px">

    <!-- If it has more than one image then display them using a Carousel -->
    <% elsif feed_item.images.size > 1 %>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
        style="margin-bottom: -1px">
        <ol class="carousel-indicators">
          <% feed_item.images.size.times do |i| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"
              class="<%= "active" if i.zero? %>">
            </li>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <% feed_item.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= "active" if index.zero? %>">
              <img src="<%= cl_image_path image.key %>" alt="<%= index.ordinalize %> post image"
                class="d-block w-100">
            </div>
          <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>

    <!-- Post Actions -->
    <div class="feed-item-actions">
      <%= link_to "#" do %>
        <i class="fas fa-share"></i>
        <p>Share</p>
      <% end %>

      <%= link_to "#", style: "margin: 5px 0 0" do %>
        <i class="fas fa-info-circle"></i>
        <p>More</p>
      <% end %>
    </div>

  <!-- If it is an Event... -->
  <% elsif feed_item.is_a? Event %>
    <!-- Event Content -->
    <div class="feed-item-content">
      <h5><%= feed_item.title %></h5>

      <div class="feed-event-info-element">
        <i class="fas fa-map-marker-alt"></i>
        <p style="margin: 0 0 8px 5px"><%= feed_item.location %></p>
      </div>

      <div class="feed-event-info-element">
        <i class="fas fa-calendar"></i>
        <p style="margin: 0 0 8px 5px"><%= feed_item.date.strftime("%d %b, %Y ( %l%p )") %></p>
      </div>

      <div class="feed-event-info-element">
        <i class="fas fa-user"></i>
        <p style="margin: 0 0 12px 5px"><%= feed_item.part_count %> ( 2 spots avaliable )</p>
      </div>

      <p><%= feed_item.description %></p>
    </div>

    <!-- Event Actions -->
    <div class="feed-item-actions">
      <%= link_to "#" do %>
        <i class="fas fa-hand-paper"></i>
        <p>Participate</p>
      <% end %>

      <%= link_to "#" do %>
        <i class="fas fa-share"></i>
        <p>Share</p>
      <% end %>

      <%= link_to "#", style: "margin: 5px 0 0" do %>
        <i class="fas fa-info-circle"></i>
        <p>More</p>
      <% end %>
    </div>
  <% end %>
</div>
