<div style="border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180); padding: 10px 5px;margin-bottom: 10px">
  <% if item.is_a? Post %>
    <p><%= item.organization.name %></p>
    <p><%= item.title %></p>
    <p><%= item.description %></p>
  <% elsif item.is_a? Event %>
    <p><%= item.organization.name %></p>
    <p><%= item.title %></p>
    <p><%= item.description %></p>
    <p><%= item.part_count %></p>
    <p><%= item.date %></p>
    <p><%= item.location %></p>
  <% end %>
</div>
