<div style="display: flex; align-items: center">
  <div style="width: 180px; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
    <div style="display: flex; flex-direction: column; align-items: center; padding: 10px 5px; border-bottom: 1px solid rgb(180, 180, 180)">
      <img src="https://cdn1.vectorstock.com/i/1000x1000/23/70/man-avatar-icon-flat-vector-19152370.jpg" alt="user avatar"
        class="avatar-large" style="border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">

      <h5 style="font-weight: 600; margin-top: 12px"><%= @name %></h5>
    </div>

    <div style="padding: 10px 5px; border-bottom: 1px solid rgb(180, 180, 180)">
      <p style="margin-bottom: 12px">Favourites:</p>
      <p style="margin-bottom: 12px">Events:</p>
    </div>

    <div style="padding: 10px 5px">
      <p>Calendar</p>
    </div>
  </div>

  <div style="width: 580px">
    <% @feed.each do |content| %>
      <% if content.is_a? Post %>
        <div style="border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
          <p><%= content.organization.name %></p>
          <p><%= content.title %></p>
          <p><%= content.description %></p>
        </div>

      <% elsif post.is_a? Event %>
        <div style="border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
          <p><%= content.organization.name %></p>
          <p><%= content.title %></p>
          <p><%= content.description %></p>
          <p><%= content.part_count %></p>
          <p><%= content.date %></p>
          <p><%= content.location %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
