<div style="display: flex; justify-content: center; padding: 20px 10px; margin-top: 70px">
  <div style="width: 240px; min-width: 240px; margin: 0 10px; height: fit-content; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180); position: sticky; top: 90px">
    <div style="display: flex; flex-direction: column; align-items: center; padding: 10px; border-bottom: 1px solid rgb(180, 180, 180)">
      <%= avatar_large(current_user) %>

      <h3 style="font-size: 16px; margin: 12px 0 0"><%= @user_name %></h3>
    </div>

    <div style="padding: 10px; border-bottom: 1px solid rgb(180, 180, 180)">
      <div style="margin-bottom: 12px">
        <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 6px">
          My Organizations <%= @num_org_followed.zero? ? "" : "( #{@num_org_followed} )" %>
        </h4>

        <% if @num_org_followed.zero? %>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 4px">No Organizations followed</p>

        <% else %>
          <% @top_categories.each_with_index do |array, index| %>
            <p style="font-size: 12px; text-indent: 5px; margin-bottom: 4px">
              <%= "#{index + 1}. #{array.first} ( #{array.second} )" %>
            </p>
          <% end %>
        <% end %>
      </div>

      <div>
        <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 6px">
          My Events <%= @num_my_participations.zero? ? "" : "( #{@num_my_participations} )" %>
        </h4>

        <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0">
          <%= @num_my_future_participations.zero? ? "No scheduled events" : "Future Events ( #{@num_my_future_participations} )" %>
        </p>
      </div>
    </div>

    <div id="events_calendar" style="position: relative">
      <%= render partial: "calendar" %>

      <div style="position: absolute; top: 0; right: -205px; min-width: 200px; max-width: 200px; min-height: 200px; max-height: 200px; background-color: white; padding: 10px; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180); visibility: hidden">
        <h6 style="text-align: center; padding-bottom: 2px; border-bottom: 1px solid rgb(180, 180, 180)">Date...</h6>
        <div style="padding-left: 5px">
          <p>Event title</p>
          <p>Location</p>
          <p>Date</p>
          <p>Spots</p>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 520px; min-width: 520px; margin: 0 10px">
    <div id="items-list">
      <%= render partial: "feed_item", collection: @feed_items %>
    </div>
    <%= will_paginate @feed_items %>
  </div>

  <div style="width: 200px; min-width: 200px; height: fit-content; margin: 0 10px; position: sticky; top: 90px">
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
      <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 8px">Sugestions</h4>

      <% @org_recommended.each do |org| %>
        <div>
          <p style="font-size: 13px; text-indent: 5px; margin-bottom: 0"><%= org.name %></p>
          <p style="font-size: 12px; text-indent: 8px; margin-bottom: 10px">Environmental</p>
        </div>
      <% end %>
      <a href="#">View all</a>
    </div>

    <div style="padding: 10px; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
      <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 8px">Events near you</h4>

      <% @events_near.each do |event| %>
        <div style="margin-bottom: 16px">
          <p style="font-size: 13px; font-weight: 600; margin-bottom: 0"><%= event.title %></p>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0"><%= event.organization.name %></p>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0"><%= event.location %></p>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0"><%= event.date.strftime("%d %b, %Y (%l%p)") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  let myParticipations = JSON.parse(`<%= @my_participations.to_json.html_safe %>`);

  function popUpEventInfo(day, month, year) {
    let relevantDay = new Date(year, month - 1, day)
    let dayParticipations = myParticipations.filter(participation => sameDay(relevantDay, new Date(participation.date)))
    console.log(dayParticipations);
    console.log(relevantDay);
  }

  function sameDay(d1, d2) {
    return d1.getFullYear() === d2.getFullYear() &&
      d1.getMonth() === d2.getMonth() &&
      d1.getDate() === d2.getDate();
  }
</script>
