<div style="display: flex; justify-content: center; padding: 20px 10px; margin-top: 70px">
  <div style="width: 240px; min-width: 240px; margin: 0 10px; height: fit-content; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180); position: sticky; top: 90px">
    <div style="display: flex; flex-direction: column; align-items: center; padding: 10px; border-bottom: 1px solid rgb(180, 180, 180)">

      <%= avatar_large(current_user) %>

      <h3 style="font-size: 16px; margin: 12px 0 0"><%= @name %></h3>
    </div>

    <div style="padding: 10px; border-bottom: 1px solid rgb(180, 180, 180)">
      <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 6px">My Organizations ( 12 )</h4>
      <p style="font-size: 12px; text-indent: 5px; margin-bottom: 4px">2. Environmental ( 6 )</p>
      <p style="font-size: 12px; text-indent: 5px; margin-bottom: 4px">2. Children and Young People ( 3 )</p>
      <p style="font-size: 12px; text-indent: 5px; margin-bottom: 12px">3. Elderly and disabled ( 2 )</p>

      <!-- Possible symbols to represent the categories
      <i class="fas fa-leaf"></i>
      <i class="fas fa-baby"></i>
      <i class="fas fa-wheelchair"></i>
      <i class="fas fa-heartbeat"></i>
      <i class="fas fa-house-damage"></i>
      <i class="fas fa-paw"></i>
      <i class="fas fa-book-open"></i>
      <i class="fas fa-music"></i>
      <i class="fas fa-minus"></i>
      -->

      <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 6px">My Events ( 23 )</h4>
      <p style="font-size: 12px; text-indent: 5px; margin-bottom: 4px">Future Events ( 3 )</p>

    </div>

    <div id="events_calendar">
      <%= render partial: "calendar" %>
    </div>
  </div>

  <div style="width: 520px; min-width: 520px; margin: 0 10px">
    <div id="items-list">
      <%= render partial: "item", collection: @items %>
    </div>
    <%= will_paginate @items %>
  </div>

  <div style="width: 200px; min-width: 200px; height: fit-content; margin: 0 10px; position: sticky; top: 90px">
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
      <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 8px">Sugestions</h4>

      <% @organizations_recommended.each do |org| %>
        <div>
          <p style="font-size: 13px; text-indent: 5px; margin-bottom: 0"><%= org.name %></p>
          <p style="font-size: 12px; text-indent: 8px; margin-bottom: 10px">Environmental</p>
        </div>
      <% end %>
      <a href="#">View all</a>
    </div>

    <div style="padding: 10px; border: 1px solid rgb(180, 180, 180); box-shadow: 0 0 2px rgb(180, 180, 180)">
      <h4 style="font-size: 14px; font-weight: 600; margin-bottom: 8px">Events near you</h4>

      <% @near_events.each do |event| %>
        <div style="margin-bottom: 16px">
          <p style="font-size: 13px; font-weight: 600; margin-bottom: 0"><%= event.title %></p>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0"><%= event.organization.name %></p>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0"><%= event.location %></p>
          <p style="font-size: 12px; text-indent: 5px; margin-bottom: 0"><%= event.date.strftime("%d %b, %Y (%l%p)") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
