
<div class="container-fluid p-0">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4"><%= @organization.name.capitalize%></h1>
      <%= cl_image_tag @organization.photos[0].key, class: "float-right img-jumb-show-page" %>
		</div>
	</div>
</div>
<div class="container-fluid p-5">
  <h4><%= @organization.description%></h4>
  <h2 class="text-center">Posts</h2>
		<%@organization.posts.each do |post|%>
			<% if !post.nil?%>
				<h4><%= post.title %><h4>
				<h6>What will happen: <%= post.description %></h6>
				<h6>Location: <%= post.location %></h6>
				<h6>Date: <%= post.date.strftime("%d %B %Y") %></h6>
			<% end %>
		<%end%>
   <h2 class="text-center">Events</h2>
		<%@organization.events.each do |event|%>
			<% if !event.nil?%>
				<h4><%= event.title %><h4>
				<h6>What will happen: <%= event.description %></h6>
				<h6>People Needed: <%= event.part_count %></h6>
				<h6>Location: <%= event.location %></h6>
				<h6>Date: <%= event.date.strftime("%d %B %Y") %></h6>
			<% end %>
		<%end%>
</div>