



<div>
  <%= link_to "+ Create a new post", new_organization_post_path(@organization) %>
</div>

<div>
  <% @organization.posts.each do |post| %>
    <div>
      <%= post.title %>
      <%= post.description %>
      <div>
        <%= link_to "Update", edit_organization_post_path(@organization, post) %>
        <%= link_to 'Delete', organization_post_path(@organization, post),
              method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>

