<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light"><i class="fas fa-map-marker-alt"></i><%= @organization.name.upcase%></h1>
        <p class="lead"><%= @organization.address.capitalize%></p>
      </div>
    </div>
  </div>
</header>

<!--SideBar-->
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <%= cl_image_tag @organization.photos[0].key, class: "img-jumb-show-page" %>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <% if !current_user.nil? && current_user.can_edit?(@organization)%>
                <%= link_to (fa_icon "edit", class: 'mx-1', size: '1x', color: 'white' ), edit_organization_path(@organization.id) %>
              <% end %>
            </li>
            <li>
              <% if !current_user.nil? && current_user.can_add_posts_for?(@organization) %>
                <%= link_to "Add a new post", new_organization_post_path(@organization.id) %>
              <% end %>
            </li>
            <li>
              <% if !current_user.nil? && current_user.can_add_events_for?(@organization)%>
                <%= link_to "Add a new event", new_organization_event_path(@organization.id) %>
              <% end %>
            </li>
            <li>
              <% if !current_user.nil? && current_user.can_add_admin_to?(@organization)%>
                <%= link_to "Add a new admin", new_organization_admin_path(@organization.id) %>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
          <a href="#posts-show-page">Posts</a>
        </li>
        <li>
          <a href="#events-show-page">Events</a>
        </li>
      </ul>
      <div class="last">
			  <p class="small"><%= link_to "<-- Back to all organizations", organizations_path(@organizations), {:style=>'color:#FFFFFF;', :hover=>'font-weight:bold;'}%></p>
      </div>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <%= render "about_organization", organization: @organization %>
      <div class="container-fluid p-5">
        <h2 id="posts-show-page"class="text-center posts-showpage">Posts</h2>      
        <% @organization.posts.each do |post|%>
          <% if !post.nil?%>
            <h4><%= post.title %><h4>
            <h6>What will happen: <%= post.description %></h6>
            <h6>Location: <%= post.location %></h6>
            <h6>Date: <%= post.date.strftime("%d %B %Y") %></h6>
          <% end %>
        <% end %>  
      </div>
      <div class="container-fluid p-5">
        <h2 id="events-show-page"class="text-center events-showpage">Events</h2>
        <%@organization.events.each do |event|%>
          <% if !event.nil?%>
            <h4><%= event.title %><h4>
            <h6>What will happen: <%= event.description %></h6>
            <h6>People Needed: <%= event.part_count %></h6>
            <h6>Location: <%= event.location %></h6>
            <h6>Date: <%= event.date.strftime("%d %B %Y") %></h6>
          <% end %>
        <% end %>
      </div>  
    </div>
	</div>
</div>  