<!--Jumbotron-->
<div class="container-fluid p-0">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<p class="small"><%= link_to "<-- Back to all organizations", organizations_path(@organizations) %></p>
			<h1 class="display-4"><%= @organization.name.capitalize%></h1>
			<h6>Location: <%= @organization.address.capitalize%></h6>
      <%= cl_image_tag @organization.photos[0].key, class: "float-right img-jumb-show-page" %>
		</div>
	</div>
</div>

<!--Navegation-->	
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">General</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Posts</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Events</a>
	</li>
</ul>
<!--Page content-->
<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		<div class="container-fluid p-5">
			<h4><%= @organization.description%></h4>
		</div>
	</div>
	<!--Posts content-->
	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		<h2 class="text-center">Posts</h2>
			<%@organization.posts.each do |post|%>
				<% if !post.nil?%>
					<h4><%= post.title %><h4>
					<h6>What will happen: <%= post.description %></h6>
					<h6>Location: <%= post.location %></h6>
					<h6>Date: <%= post.date.strftime("%d %B %Y") %></h6>
				<% end %>
			<%end%>
			<%if current_user.can_add_posts_for?(@organization)%>
				<%= link_to "Add a new post", new_organization_post_path(@organization.id) %>
			<%end%>
	</div>
	<!--Events content-->
	<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
		<h2 class="text-center">Events</h2>
			<%@organization.events.each do |event|%>
				<% if !event.nil?%>
					<h4><%= event.title %><h4>
					<h6>What will happen: <%= event.description %></h6>
					<h6>People Needed: <%= event.part_count %></h6>
					<h6>Location: <%= event.location %></h6>
					<h6>Date: <%= event.date.strftime("%d %B %Y") %></h6>
				<% end %>
			<%end%>
			<%if current_user.can_add_events_for?(@organization)%>
				<%= link_to "Add a new event", new_organization_event_path(@organization.id) %>
			<%end%>
	</div>
</div>